<div class="dashboard">
    <div class="toolbar">
        <mat-toolbar style="background-color:#85C1E9">
            <mat-toolbar-row>
                <span>
                    <button mat-icon-button (click)="sidenav.toggle()" class="menu">
                        <mat-icon matTooltip="Main menu">menu</mat-icon>
                    </button>
                </span>
                <img src="../../../assets/web-scraping-image.jpg">
                <span style="color:blue">WebScraping</span>
                <span class="example-spacer"></span>
                <div class="rightside-icons">
                    <button mat-icon-button class="refresh" style="margin-right: 5%;" [routerLink]="['/']">
                        <mat-icon matTooltip="Refresh">refresh</mat-icon>
                    </button>
                    <button class="signout-button" mat-raised-button (click)=logout() color="primary">Signout</button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div class="sidenav-div">
        <mat-sidenav-container class="sidenav-container" style="background-color:#D0D3D4">
            <mat-sidenav class="matSidenav" #sidenav mode="side">
                <div>
                    <button mat-button class="navbutton" [routerLink]="['/addwebscraping']">
                        <mat-icon class="sidenav-icon">account_circle</mat-icon>
                        <span class="icon-label">Add WebScraping</span>
                    </button>
                    <button mat-button class="navbutton" [routerLink]="['/getwebscrapingdata']">
                        <mat-icon class="sidenav-icon">info</mat-icon>
                        <span class="icon-label">Get WebScraping</span>
                    </button>
                </div>
            </mat-sidenav>
            <mat-sidenav-content class="sidenav-content" style="background-color: #F2F3F4">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>