<div class="page-container">
    <div>
        <p>
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
                <span>WebScraping</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
            </mat-toolbar>
        </p>
    </div>
    <div class="sidebar" style="margin-top: -0.7%;">
        <div class="list-items">
            <i class="material-icons">bookmark_border</i> Add Website
        </div>
        <div class="list-items">
            <i class="material-icons">bookmark_border</i>Get Website
        </div>
    </div>
    <router-outlet></router-outlet>
</div>