.card {
    display: flex;
    justify-content: center;
    padding: 5%;
}

button {
    font-size: 18px;
}

.blue {
    color: rgb(55, 0, 255);
}

;
.red {
    color: red;
}

;
.gold {
    color: rgb(255, 187, 0);
}

;
.green {
    color: rgb(14, 85, 31);
}

;
.mat-card-title {
    display: flex;
    justify-content: center;
    font-size: 33px;
}

.signIn {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 27px;
}

.password {
    font-size: 18px;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
}