.card {
    display: flex;
    justify-content: center;
    padding: 5%;
}

button {
    font-size: 18px;
}

.blue {
    color: rgb(55, 0, 255);
}

;
.red {
    color: red;
}

;
.gold {
    color: rgb(255, 187, 0);
}

;
.green {
    color: rgb(14, 85, 31);
}

;
.mat-card-title {
    display: flex;
    justify-content: center;
    font-size: 33px;
}

.account {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.signIn {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 15px;
}

.email {
    padding-top: 30px;
    font-size: 18px;
}

.accountButton {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
}