<div class="card">
    <mat-card style=" width: 600px;height: 600px;padding:3%;">
        <div fxLayout="column" style=" margin-top: 5%">
            <mat-card-title>
                <span class="blue">W</span>
                <span class="red">E</span>
                <span class="gold">B</span>
                <span class="blue">S</span>
                <span class="green">C</span>
                <span class="red">R</span>
                <span class="blue">A</span>
                <span class="red">P</span>
                <span class="gold">I</span>
                <span class="blue">N</span>
                <span class="green">G</span>
            </mat-card-title>
            <mat-card-content class="signIn">Create your WebScraping Account</mat-card-content>
        </div>

        <form [formGroup]="registration">
            <div class="formGroup">
                <mat-form-field appearance="outline" fxFlext=50 style="width:45%;margin-right: 1rem;">
                    <mat-label>First Name</mat-label>
                    <input required matInput placeholder="First name" formControlName="firstName">
                    <mat-error *ngIf="registration.hasError('required', 'firstName')">
                        First Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlext=50 style="width: 45%;">
                    <mat-label>Middle Name</mat-label>
                    <input required matInput placeholder="Middle name" formControlName="middleName">
                    <mat-error *ngIf="registration.hasError('required', 'middleName')">
                        Middle Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlext=50 style="width: 45%;">
                    <mat-label>Last Name</mat-label>
                    <input required matInput placeholder="Last name" formControlName="lastName">
                    <mat-error *ngIf="registration.hasError('required', 'lastName')">
                        Last Name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="section">
                <mat-form-field appearance="outline" fxFlext=50 style="width: 93%;">
                    <mat-label>Email</mat-label>
                    <input required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="registration.hasError('required', 'email')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registration.hasError('email', 'email')">
                        Enter valid email
                    </mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>
                        <Strong>You'll need to confirm that this email belongs to you</Strong>
                    </mat-hint>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline" fxFlext=50 style="width: 93%;">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" formControlName="phoneNo" required autocomplete="off">
                    <mat-error *ngIf="registration.hasError('required', 'phoneNo')">
                        Phone Number is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlext=50 style="width: 40%;margin-right: 1rem;">
                    <mat-label>Password</mat-label>
                    <input required matInput placeholder="Password" [type]="hide ? 'text' : 'password'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <mat-hint>Use 8 or more characters with mix of letters,numbers&symbols</mat-hint>
                    <mat-error *ngIf="registration.hasError('required', 'password')">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlext=50 style="width: 40%;">
                    <mat-label>Confirm</mat-label>
                    <input required matInput placeholder="Confirm" [type]="hide ? 'text' : 'password'" formControlName="cofirmPasword" class="form-control">
                    <mat-error *ngIf="registration.hasError('required', 'cofirmPasword')">
                        Confirm password is required
                    </mat-error>
                </mat-form-field>

                <mat-icon style="margin-left: 1rem;" matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </div>
        </form>
        <div class="accountButton">
            <button color="primary" routerLink='' mat-raised-button style="width: 25%">Sign in instead</button>
            <button color="primary" mat-raised-button style="width: 25%" (click)="registrationform()">Registration</button>
        </div>
    </mat-card>
</div>